/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
:root {
    --fuse-vertical-navigation-width: 239px !important;
}

body.search-result {
    overflow: hidden;
}

.letter-uline,
.text-uline {
    position: relative;
    display: inline-block;
    padding-bottom: 0.1em;

    &::after {
        position: absolute;
        content: " ";
        width: 1em;
        border-top: solid 2px #e91e63;
        left: 0;
        bottom: 0;
    }
}

.text-uline {
    padding-bottom: 0.5em;
    &::after {
        width: 1.2em;
        border-top-width: 3px;
        right: 0;
        margin: auto;
    }
}